<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each dogs}}
      <li>{{name}} : {{age}}, {{breed}}, {{size}} <img src="{{picture}}" alt="Whoops..!"></li>
    {{/each}}
    </ul>
  </body>
</html>
