<!DOCTYPE html>
<html>
  <head>
    <title>Pet Tinder</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <a class="link" href="/">Return Home</a>
    <form class="selecting-form" id="dog-form" action="/find-a-dog" method="get">
      <ul class="info">
        {{#each dogs}}
          <a href="#"><img src="{{picture}}" alt="Whoops..!"></a><br>
          <p>{{name}} : Is a {{age}} old {{breed}}. Size: {{size}}<br><br>
          Adopt this Doggo?<br><br>
          <button type="submit" class="yes-no" id="no-button">No</button>
          <button type="button" onclick="isMatch()" class="yes-no" id="yes-button">Yes</button></p><br>
        {{/each}}
      </ul>
    </form>
    <script>
      function isMatch(ev) {
        alert('It\'s a match!')
        document.getElementById('dog-form').submit()
      }
    </script>
  </body>
</html>
