<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pet Tinder</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <a href="/">Return to Homepage</a>
    <ul>
      {{#each dogs}}
        <p>{{name}} : {{age}}, {{breed}}, {{size}}<br>
        <img src="{{picture}}" alt="Whoops..!"></p>
      {{/each}}
    </ul>
  </body>
</html>
